
<!--This component hosts list and some logic related to managing announcement list (select, delete)
    All logic related to displayin one particular announcement is in announcement-list-item component.
-->

<h1>Vip Announcements</h1>

<!-- we use iur list item component for displaying one announcement
    Because we have a list of announcements we place ngFor directive on list-item-component element in our template
    we use inputs ([announcement] and [isSelected] for passing data to child component) we can use as many inputs as we need
    isSelected is used to specify if currently this item is selected (by comparing stored selecteditem in component with item 
    we are currently on)
    We use output to subscribe to child compinent event (onStatusChange) and pass new status received from child component event via special $event variable
    We have also click handler for updating currently selected item in a list (by updating selectedAnnouncement variable in our component)
-->
@for(item of vipAnnouncements; track item.id)
{
    <app-announcement-list-item 
    [announcement]="item" 
    [isSelected]="item == selectedAnnouncement" 
    (onStatusChange)="onChange(item, $event)" 
    (click)="onSelect(item)">
    </app-announcement-list-item>
}
<br />

<h2>Regular announcements</h2>

@for(item of regularAnnouncements; track item.id)
{
    <app-announcement-list-item [announcement]="item" [isSelected]="item == selectedAnnouncement" (onStatusChange)="onChange(item, $event)" (click)="onSelect(item)"></app-announcement-list-item>
}
<br />
<!-- we used [disabled] binding to disable button when announcement is not selected
    we use (click) event to bind button to our announcement delete event handler
-->
<button [disabled]="selectedAnnouncement == undefined" (click)="onDelete(selectedAnnouncement)">Delete selected</button>